<!DOCTYPE html>

<html lang="en">

<head>
    <title>Moon Child - New User</title>
    <link rel="icon" href="/assets/images/smilingmoon.png">
    <link rel="stylesheet" href="/assets/styles/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300,400italic,500,700' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="/vendors/angular.js"></script>
    <script type="text/javascript" src="/vendors/angular-route.min.js"></script>

    <script type="text/javascript" src="/assets/scripts/app.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers/newusercontroller.js"></script>
</head>

<body ng-app="myApp">
<div ng-controller="NewUserController">
    <h1>Welcome, Moon Child</h1>

    <h4>Beyond this point you'll find a space that's just for you. This isn't social media,
        we like to think of it as solitude media. Use it for what you will, no questions asked.
        If you have any questions, just slide into the
        <a href="mailto:annette.tousley@gmail.com" alt="Email Annette dot Tousley at gmail dot com">DMs</a>.</h4>

    <button class="btnStartNew" ng-click="reroute()">Embark</button>
</div>

</body>
</html>

