<!DOCTYPE html>
<html lang="en">
<head>
    <title>Moon Child</title>

    <link rel="stylesheet" href="/assets/styles/style.css">
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300,400italic,500,700' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="/vendors/angular.js"></script>
    <script type="text/javascript" src="/vendors/angular-route.min.js"></script>

    <script type="text/javascript" src="/assets/scripts/app.js"></script>
    <script type="text/javascript" src="/assets/scripts/factories/dataFactory.js"></script>

    <script type="text/javascript" src="/assets/scripts/controllers/editController.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers/boardController.js"></script>

</head>
<body ng-app="myApp">
    <div ng-controller="UserController">
        <header ng-include="'/views/templates/nav.html'"></header>
        <h1>Moon Child, {{user}}</h1>
        <main ng-view></main>
    </div>
</body>
</html>