<h1>~my vision board~</h1>


<div class="current_book" ng-repeat="vision in visions">
        <p>{{vision.title}}</p>
        <p>{{vision.author}}</p>
</div>

<div class="reading_list" ng-repeat="book in readingList">
    <p>{{book.title}}, {{book.author}}</p>
</div>

<div class="delight" ng-repeat="delight in delights">
    <p>{{delight.delight}}</p>
</div>

<div class="thoughts" ng-repeat="thought in thoughts">
    <p>{{thought.thought}}</p>
</div>

<div class="travel" ng-repeat="travel in travels">
    <p>{{travel.travel}}</p>
</div>

<div class="current_career" ng-repeat="current in current_objectives">
    <p>{{current.objective}}</p>
</div>

<div class="future_career" ng-repeat="future in future_objectives">
    <p>{{future.objective}}</p>
</div>