<h1 id="edit_header">edit</h1>
<div id="vision_board">
    <div id="main_section">
        <div id="left_section">
            <form id="current_book">
                <label>Current Book</label>
                <br>
                <label for="title">Title:</label>
                <input type="text" ng-model="title" id="title" />
                <br>
                <label for="author">Author:</label>
                <input type="text" ng-model="author" id="author" />
            </form>

            <form id="reading_list">
                <label>Reading List</label>
                <br>
                <label for="title1">Title:</label>
                <input type="text" ng-model="title1" id="title1" />
                <br>
                <label for="author1">Author:</label>
                <input type="text" ng-model="author1" id="author1" />
                <br>

                <label for="title2">Title:</label>
                <input type="text" ng-model="title2" id="title2" />
                <br>

                <label for="author2">Author:</label>
                <input type="text" ng-model="author2" id="author2" />
                <br>

                <label for="title3">Title:</label>
                <input type="text" ng-model="title3" id="title3" />
                <br>

                <label for="author3">Author:</label>
                <input type="text" ng-model="author3" id="author3" />
                <br>

                <label for="title4">Title:</label>
                <input type="text" ng-model="title4" id="title4" />
                <br>

                <label for="author4">Author:</label>
                <input type="text" ng-model="author4" id="author4" />
                <br>

                <label for="title5">Title:</label>
                <input type="text" ng-model="title5" id="title5" />
                <br>

                <label for="author5">Author:</label>
                <input type="text" ng-model="author5" id="author5" />
            </form>
        </div>

        <div id="center_section">
            <form id="delight">
                <label>Delight</label>
                <input type="text" ng-model="delight1" id="delight1" />
                <input type="text" ng-model="delight2" id="delight2" />
                <input type="text" ng-model="delight3" id="delight3" />
                <input type="text" ng-model="delight4" id="delight4" />
                <input type="text" ng-model="delight5" id="delight5" />
                <input type="text" ng-model="delight6" id="delight6" />
                <input type="text" ng-model="delight7" id="delight7" />
                <input type="text" ng-model="delight8" id="delight8" />
            </form>

            <form id="thoughts">
                <label>Thoughts</label>
                <input type="text" ng-model="thought1" id="thought1" />
                <input type="text" ng-model="thought2" id="thought2" />
                <input type="text" ng-model="thought3" id="thought3" />
                <input type="text" ng-model="thought4" id="thought4" />
            </form>
        </div>

        <div id="right_section">
            <form id="travel">
                <label>Travel Plans</label>
                <input type="text" ng-model="travel1" id="travel1" />
                <input type="text" ng-model="travel2" id="travel2" />
                <input type="text" ng-model="travel3" id="travel3" />
                <input type="text" ng-model="travel4" id="travel4" />
                <input type="text" ng-model="travel5" id="travel5" />
            </form>
        </div>
    </div>

    <div id="bottom_section">
        <div id="career">
            <form id="current_career">
                <label>Current Career Objectives</label>
                <input type="text" ng-model="current_career1" id="current_career1" />
                <input type="text" ng-model="current_career2" id="current_career2" />
                <input type="text" ng-model="current_career3" id="current_career3" />
            </form>

            <form id="future_career">
                <label>Future Career Plans</label>
                <input type="text" ng-model="future_career1" id="future_career1" />
                <input type="text" ng-model="future_career2" id="future_career2" />
                <input type="text" ng-model="future_career3" id="future_career3" />
                <input type="text" ng-model="future_career4" id="future_career4" />
                <input type="text" ng-model="future_career5" id="future_career5" />
            </form>
        </div>
    </div>

</div>

<button id="save" ng-click="saveVision()">Save</button>
