* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

.register, .login {
    display: inline-block;
    border: 1px solid;
    width: 40%;
    padding: 1%;
    margin: 1%;
}

.login #username, .login #password,
.register #username, .register #password {
    border: 1px solid;
    width: 60%;
    padding: .5%;
}

#submit {
    background-color: white;
    font-weight: bold;
    display: block;
    margin: 2% auto 0;
}

.nav_main {
    background-color: lightgray;
}

.nav_main ul {
    display: flex;
    justify-content: left;
}

.nav_main li {
    list-style-type: none;
    display: inline;
    margin: .5% .5% 0 1%;
    font-size: 80%;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

.nav_main h1 {
    display: flex;
    justify-content: center;
    font-size: 250%;
}

#vision_board {
    margin: 1% 5% 1% 5%;
}

.current_book, .reading_list,
.delight, .thoughts, .travel, .career {
    /*display: block;*/
    border: 1px solid;
    margin: .5%;
    padding: .5%;

}

.current_book h2, .reading_list h2,
.delight h2, .thoughts h2, .travel h2, .career h2 {
    font-size: 125%;
}

.current_career h3, .future_career h3 {
    font-size: 100%;
}


.main_section {
    display: flex;
    /*width: 100%;*/
    margin: 1%;
    justify-content: center;
}

.left_section, .right_section {
    display: inline-block;
    width: 25%;
    float: left;
    margin: 1% 0;
}

.center_section {
    display: inline-block;
    width: 45%;
    float: left;
    margin: 1%;
}

.current_book, .delight, .travel_api {
    margin-bottom: 3%;
}

.travel_api img {
    max-width: 100%;
}

.career {
    display: inline-block;
    width: 100%;
}

.career h2 {
    width: 0;
}
.current_career {
    display: inline-block;
    float: left;
    width: 60%;
}

.future_career {
    display: inline-block;
    width: 35%;
}